html {
    font-size: 22px;
    line-height: 1.25;
}

body {
    background-color: #333;
    position: relative;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #f3f3f3;
    text-shadow: 1px 1px 2px #313131;
    font-size: 1rem;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.heading {
    font-size: 2rem;
    font-family: 'Gothic A1', sans-serif;
}

.background-video {
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    position: absolute;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 br {
    display: none;
}

.container {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.centre-box {
    margin: 0 auto;
    max-width: 50em;
    padding: 0 15px;
}

form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.aside {
    font-size: .6rem;
}

::selection {
    background: #ffb7b7;

    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7;

    /* Gecko Browsers */
}

@media screen and (max-width: 600px), screen and (max-height: 400px) {
    .background-video {
        display: none;
    }

    body {
        background: #333;
        text-shadow: none;
    }

    h1 br {
        display: block;
    }

    .container {
        display: block;
    }
}
